.cover-image {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.movie-details {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 36px 72px 0 72px;
}
.movie-data {
  color: #fff;
  text-wrap: balance;
}
.movie-data h2 {
  font-size: 38px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.movie-data p {
  font-size: 1em;
}
.star-svg {
  width: 1em;
  height: auto;
}
span {
  text-decoration: underline;
  color: white;
  font-weight: 800;
  position: absolute;
  top: 25px;
  left: 12px;
}

.btn-add-watchlist {
  background-color: #6c526c;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 6px 12px;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #463a46;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
.btn-added-watchlist {
  background-color: #3d2e3d;
  &:hover {
    background-color: rgb(175, 55, 46);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
iframe {
  width: 560px;
  height: 315px;
}
@media (max-width: 600px) and (min-width: 340px) {
  .cover-image {
    max-width: 50%;
  }

  .movie-details {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .movie-data h2 {
    font-size: 28px;
  }

  .movie-data p {
    font-size: 0.8em;
  }

  span {
    top: 15px;
    left: 8px;
  }

  .btn-add-watchlist,
  .btn-added-watchlist {
    padding: 4px 8px;
  }
  iframe {
    width: 320px;
    height: 180px;
  }
}
@media (max-width: 340px) {
  .cover-image {
    max-width: 50%;
  }

  .movie-details {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .movie-data h2 {
    font-size: 28px;
  }

  .movie-data p {
    font-size: 0.8em;
  }

  span {
    top: 15px;
    left: 8px;
  }

  .btn-add-watchlist,
  .btn-added-watchlist {
    padding: 4px 8px;
  }

  iframe {
    width: 250px;
    height: 140px;
  }
}
